<% if users.any? %>
    <ul class="list-unstyled pt-2">
        <% users.each do |user| %>
                <li class="media border-bottom user-list py-2 d-flex justify-content-between align-items-center">
                    <a href="<%= user_path(user) %>">
                        <div class="media">
                            <img class="mr-2 rounded-circle" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
                            <div class="media-body">
                                <div>
                                    <%= user.name %>
                                </div>
                                <div class="comment-color">
                                    <%= user.comment %>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div>
                        <% unless current_user == user %>
                            <%= render 'relationships/follow_btn', user: user %>
                        <% end %>
                    </div>
                </li>
        <% end %>
    </ul>
    <%= paginate users %>
<% else %>
    <p class="border-top mt-2 pt-2 text-center comment-color">現在ユーザーはいません</p>
<% end %>