<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <img class="" src="<%= gravatar_url(@user, { size: 360 }) %>" alt="">
    </div>
  </div>
</div>
<!-- end -->

<div>
    <h2 class="text-center border-bottom pb-3 text-purple"><%= @user.name %>さんの詳細</h2>
</div>
<div class="d-flex justify-content-center py-3">
    <img class="mr-2 rounded-circle border p-1 pointer" src="<%= gravatar_url(@user, { size: 80 }) %>" alt="" data-toggle="modal" data-target="#exampleModalCenter">
</div>
<ul class="list-unstyled px-3">
    <li class="font-lg text-center py-2"><%= @user.name %></li>
    <% unless current_user == @user %>
        <div class="d-flex justify-content-center"><a href="<%= messages_path %>" class="text-purple"><%= fa_icon 'envelope 2x' %></a></div>
    <% end %>
    <li class="py-2 row">
        <strong class="col-md-3 py-2 px-0">
            <span>タグ</span>
            <span><%= fa_icon 'tags' %></span>
        </strong>
        <% if current_user == @user %>
            <span class="py-2 pr-1">
                <a href="<%= new_tag_path %>">
                    <span>追加</span>
                    <span><%= fa_icon 'plus' %></span>
                </a>
            </span>
        <% end %>
        <% @tags.each do |tag| %>
            <% if @user == current_user %>
                <span class="text-info border px-3 py-1 rounded m-1">@<%= link_to tag.name, edit_tag_path(tag), class: 'text-info' %></span>
            <% else %>
                <span class="text-info border px-3 py-1 rounded m-1">@<%= tag.name %></span>
            <% end %>
        <% end %>
    </li>
    <li class="py-2 row">
        <strong class="col-md-3 py-2 px-0">
            <span>プロフィール</span>
            <span><%= fa_icon 'id-card' %></span>
        </strong>
        <span class="profile col-md-9 py-2"><%= @user.comment %></span>
    </li>
    <li class="row">
        <span class="offset-md-9"></span>
        <span class="col-md-3 p-0 my-2">
            <% if current_user == @user %>
                <span class="d-flex justify-content-end py-2"><%= link_to 'プロフィールの編集', edit_user_path(@user), class: 'button button-border-purple bold' %></span>
            <% else %>
                <%= render 'relationships/follow_btn', user: @user %>
            <% end %>
        </span>
    </li>
</ul>